<li class="nav-item selectable-item"  ng-click="clicked()" ng-class="{'item-horizontal': !isVertical() }">  
    <div class="no-select">
        <i class="fa {{icon}} menu-icon"></i>
        {{label}}
        <i ng-if="isVertical()" class="fa fa-chevron-left group-indicator-left"
        ng-class="{'fa-rotate-270': isOpen }"></i>
    </div>
    <!-- <div>
        <i class="fa fa-2x fa-caret-left menu-active-indicator" ng-if="isActive()"></i>
    </div> -->
</li>
<div ng-show="isOpen" class="subitem-section fade-in-animation" ng-class="{'popup-menu': !isVertical() }">
     <ul ng-transclude></ul>
</div>